html {
    /* background-color: #00660e; */
    background: radial-gradient(#00660e, #004409);
    /* background: linear-gradient(to right,#ff0000,#ffe600,#00ff15,#0051ff,#e100ff, #ff0000) 0 / 200%; */
    animation: 3s a linear infinite;
    color: white;
}

.wave {
    background: linear-gradient(to right,#ff0000,#ffe600,#00ff15,#0051ff,#e100ff, #ff0000) 0 / 200%;
    animation: 3s a linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  @keyframes a{
    100% { background-position: 200%; }
  }


body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gamescreen {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#dealer, #player {
    width: 100%;
}

#panel {
    margin: 0;
    padding: 0.5em;
    /* border: 1px solid red; */
}

/*
img {
    height: 128px;
}
*/
.fill-black {
    filter: brightness(0) invert(1);
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

.dummy {
    opacity: 0;
}